<a href="https://colab.research.google.com/github/VrushaliSapkal/Data_mining_Assignments/blob/main/DMW_Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv('Book1.csv')
df

                 Patient                Product
0                      S  UNIENZYME TAB
1                      S  VELOZ D CAP
2     SAINATH SHIVAJI M   INJ OROFER S 100
3     JAGATAP BHIKAJI N   INJ ALKEMCORT-H
4     JAGATAP BHIKAJI N   BLOOD SET
...                  ...                    ...
9746  WANI POPAT          C FURO CV 625 TAB
9747  WANI POPAT          ETOZOX 90 TAB
9748  WANI POPAT          REBORUL 20 TAB
9749  WANI POPAT          LYCOCHEER FORTE TAB
9750  patil               CLAVAM 625

[9751 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9751 entries, 0 to 9750
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Patient  9751 non-null   object
 1   Product  9751 non-null   object
dtypes: object(2)
memory usage: 152.5+ KB

In [4]:
df.columns

Index(['Patient', 'Product'], dtype='object')

In [5]:
#Function to generate association rules from frequent itemsets

from mlxtend.frequent_patterns import association_rules, apriori

In [8]:
# grouping the data
transactions_str1 = df.groupby(['Patient', 'Product'])

# grouped on the basis of patient and with the value of count of product
transactions_str2 = transactions_str1['Product'].count().reset_index(name ='Count')

# display dataset
transactions_str2

                 Patient                Product  Count
0                         B PROTIN (CHOC)            1
1                         BEVON SUSPENSION           1
2                         CEFIX 200 DT               1
3                         DOLONEX   20MG  DT         1
4                         HCQS 200 TAB               1
...                  ...                    ...    ...
8404  yadhav              INJ MCOB PLUS              2
8405  yadhav              INJ ROZID 1GM              2
8406  yadhav              LIV 52 TAB                 1
8407  zhorale baby r      ETHILON 1 NW3348           1
8408  zhorale baby r      PROLINE MESH 15*15         1

[8409 rows x 3 columns]

In [9]:
# making a mxn matrice where m=transaction and n=items and each row represents whether the item was in the transaction or not
my_basket = transactions_str2.pivot_table(index='Patient', columns='Product', values='Count', aggfunc='sum').fillna(0)


my_basket.head()

Product,10,10ML SYRING,20ML SYRINGE,2ML SYRINGE,3 WAY POLYMED,3WAY STOPCOCK,4 QUIN PFS 0.5,4QUIN D EYE DROP,5 ML SYRING,A TO Z NS SYRUP(B),...,ZINCOVIT TAB,ZOCLAR 250 TAB,ZOFIX CV 200 TAB,ZORYL M 1,ZOSTER 400TAB,ZOSTER 800 TAB,ZURACEF 200 TAB,ZYLORIC 100 TAB,ZYLORIC 300,ZYTEE GEL 10 GM
Patient,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
SHANKAR SHINDE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VISHA KUNAL INGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# making a function which returns 0 or 1
# 0 means item was not in that transaction, 1 means item present in that transaction

def encode(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

# applying the function to the dataset

my_basket_sets = my_basket.applymap(encode)
my_basket_sets.head()

Product,10,10ML SYRING,20ML SYRINGE,2ML SYRINGE,3 WAY POLYMED,3WAY STOPCOCK,4 QUIN PFS 0.5,4QUIN D EYE DROP,5 ML SYRING,A TO Z NS SYRUP(B),...,ZINCOVIT TAB,ZOCLAR 250 TAB,ZOFIX CV 200 TAB,ZORYL M 1,ZOSTER 400TAB,ZOSTER 800 TAB,ZURACEF 200 TAB,ZYLORIC 100 TAB,ZYLORIC 300,ZYTEE GEL 10 GM
Patient,,,,,,,,,,,,,,,,,,,,,
,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
SHANKAR SHINDE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VISHA KUNAL INGA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# using the 'apriori algorithm' with min_support=0.01 (1% of 9751)
# It means the item should be present in atleast 97 transaction out of 9751 transactions only when we considered that item in
# frequent itemset
frequent_items = apriori(my_basket_sets, min_support = 0.01,use_colnames = True)
frequent_items

      support                                           itemsets
0    0.077195                                               (10)
1    0.016650                            (2ML SYRINGE          )
2    0.073158                            (5 ML SYRING          )
3    0.014127                            (ACEMIZ MR TAB        )
4    0.010091                            (ALPRAX 0.25          )
..        ...                                                ...
477  0.010091  (INJ FILET 1.GM       , IV RL 500            ,...
478  0.011100  (IV NS 500 ML         , 5 ML SYRING          ,...
479  0.010091  (IV NS 500 ML         , 5 ML SYRING          ,...
480  0.011100  (IV NS 500 ML         , 5 ML SYRING          ,...
481  0.010091  (IV NS 500 ML         , 5 ML SYRING          ,...

[482 rows x 2 columns]

In [12]:
# now making the rules from frequent itemset generated above

rules = association_rules(frequent_items, metric = "lift", min_threshold = 1)
rules.sort_values('confidence', ascending = False, inplace = True)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2107,"(5 ML SYRING , INTRACATH NO 22 ,...",(INJ PENTALOC ),0.016650,0.124622,0.016650,1.000000,8.024291,0.014575,inf
2838,"(5 ML SYRING , CHEST LEEDS ,...",(10),0.010595,0.077195,0.010595,1.000000,12.954248,0.009777,inf
2527,"(INJ FILET 1.GM , INJ ROSINOX 60 ,...",(INJ PENTALOC ),0.011100,0.124622,0.011100,1.000000,8.024291,0.009717,inf
2898,"(5 ML SYRING , IV RL 500 ,...",(10),0.010595,0.077195,0.010595,1.000000,12.954248,0.009777,inf
4010,"(5 ML SYRING , IV RL 500 ,...",(10),0.010091,0.077195,0.010091,1.000000,12.954248,0.009312,inf
...,...,...,...,...,...,...,...,...,...
137,(INJ PENTALOC ),(SYRINGE 50ML ),0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930
1698,(INJ PENTALOC ),"(10, INJ ROSINOX 60 , INJ ZYSET ...",0.124622,0.013118,0.010091,0.080972,6.172532,0.008456,1.073832
1684,(INJ PENTALOC ),"(10, INJ LASIX 40 , INJ ZYSET ...",0.124622,0.013623,0.010091,0.080972,5.943920,0.008393,1.073283
887,(INJ PENTALOC ),"(INJ ROSINOX 60 , IV NS 500 ML )",0.124622,0.013118,0.010091,0.080972,6.172532,0.008456,1.073832
4195,(INJ PENTALOC ),"(5 ML SYRING , 10, IV SET ...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930

In [13]:
# arranging the data from highest to lowest with respect to 'confidence'

rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2107,"(5 ML SYRING , INTRACATH NO 22 ,...",(INJ PENTALOC ),0.016650,0.124622,0.016650,1.000000,8.024291,0.014575,inf
3651,"(10, IV RL 500 , IV NS 100 ...",(IV NS 500 ML ),0.010595,0.061049,0.010595,1.000000,16.380165,0.009949,inf
3019,"(INJ FILET 1.GM , 5 ML SYRING ,...",(10),0.012614,0.077195,0.012614,1.000000,12.954248,0.011640,inf
3438,"(INJ FILET 1.GM , 10, IV NS 100 ...",(INJ PENTALOC ),0.011604,0.124622,0.011604,1.000000,8.024291,0.010158,inf
1588,"(INJ FILET 1.GM , 10, IV NS 100 ...",(INJ PENTALOC ),0.015136,0.124622,0.015136,1.000000,8.024291,0.013250,inf
...,...,...,...,...,...,...,...,...,...
1825,(INJ PENTALOC ),"(10, IV RL 500 , IV SET ...",0.124622,0.012614,0.010091,0.080972,6.419433,0.008519,1.074381
3347,(INJ PENTALOC ),"(INJ FILET 1.GM , 10, CHEST LEEDS ...",0.124622,0.010595,0.010091,0.080972,7.642182,0.008770,1.076577
3947,(INJ PENTALOC ),"(INJ FILET 1.GM , IV NS 500 ML ,...",0.124622,0.010595,0.010091,0.080972,7.642182,0.008770,1.076577
2356,(INJ PENTALOC ),"(INJ FILET 1.GM , IV SET ,...",0.124622,0.010595,0.010091,0.080972,7.642182,0.008770,1.076577
4195,(INJ PENTALOC ),"(5 ML SYRING , 10, IV SET ...",0.124622,0.012109,0.010091,0.080972,6.686910,0.008582,1.074930